@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: Outfit;
}
.active hr{
    @apply block
}

::-webkit-scrollbar{
 @apply hidden
}

@media(max_width:740px){
    .active p{
        @apply text-white bg-green-600
    }
}


html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

#root {
  overflow-x: hidden;
  width: 100%;
}